







{"name": "WIESPLAY TV","author": "แอดมินจากกลุ่ม PLAYIDTV-W3U/M3U","url": "https://drzl.short.gy/ReZ46l","image": "https://dl.dropbox.com/scl/fi/csqvt88dmwrpy3arehkf7/20240403_220320.jpg?rlkey=d6qgw6z8gdyeyx3ek5lpb0s2f&dl=0","info": "Link🟢 ","groups": [
{"name": "📺 PLAYIDTV 📌",
"image": "https://dl.dropbox.com/scl/fi/5psd0jcuel4u7uoi6mi14/20231007_191849.jpg?rlkey=zazgtlzcq7xdmup943j33vw4d&dl=0","url": "https://drzl.short.gy/Linkwiesplay.html","import": false},

{"name": "📺 ผู้เฒ่าพเนจรนะจ๊ะ 📌 ","image": "https://www.dropbox.com/scl/fi/212nz9z3bi67xvxjnl90u/.png?rlkey=s828nfzs8yao5b0o3zz1g97er&dl=1","url": "https://wandering-oldman.github.io/main-page/main-page.html","import": false},

 ]}
<html>
<head>
<script>
window.location.href = ("https://playidtv24.vercel.app/");
</script><script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'896e47ebd8504ca7',t:'MTcxODkxMjk1NC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script>














