{
"name": "TRUEUDTV",
"author": "PLAYIDTV",
"image": "https://dl.dropbox.com/scl/fi/odzc7q2qt99xynula8mup/trueidaisplay.png?rlkey=wibeizs27xergep04d0pj0dfl&dl=0",
"url": "https://drzl.short.gy/aistrue.html",
"groups": [

{
"name": "CHANNEL TRIED",
"image": "https://play-lh.googleusercontent.com/38kJldItzQW0h4DoqksY1_Rmxa3bJOLF1XWxHJnEcW8e1npE66ZKtaylANk31e9K8LhO",
"url": "https://drzl.short.gy/trueid.html",
"import": false
},
]
}
<html>
<head>
<meta charset="UTF-8">

<title>PLAYIDTV NEW</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="0;url=https://my.cbox.ws/Playidtv">
</body>
</html>
