{ 
   "name": "📺เพลย์ลิสต์ ทีวี",
   "author": "16/8/24🟢📺📻🎥🎬⚽",
   "url": "",
   "image": "https://i.gifer.com/DzUu.gif",
      "epg": "https://playidtv.vercel.app/ais/guide.xml",
   "info": "เลือกหมวดหมู่ทีวี",
   "groups": [ 




         
                      
                      
       { "name": "🟢 M3U TV", "image": "https://dl.dropbox.com/scl/fi/b5wikc187cqww9378cc1x/20240328_160859.png?rlkey=uu322pqug0s3fjkeyfmgyls6x&dl=0", "url": "https://drzl.short.gy/wiseplay.m3u"},                            

{ "name": "🟢 W3U TV", "image": "https://dl.dropbox.com/scl/fi/289arwrgugzixz8d1ejzg/w3u.jpg?rlkey=jac2hmzhatu4v4ukk2n8ytb7q&dl=0", "url": "https://playidtv24.vercel.app/wiesplay/view/trueais.html"},


{ "name": "🟢หนังและซีรีย์", "image": "https://dl.dropbox.com/scl/fi/f8n8p6uropdj7k9udi934/20230110_215057.jpg?rlkey=uacc3i8t860bym3p115nvdy1r&dl=0", "url": "https://dl.dropbox.com/s/m21l3fbh4h5tfxs/testplay.w3u?dl=0"},
  

   { "name": "🟢ฟังวิทยุออนไลน์📻", "image": "https://dl.dropbox.com/scl/fi/9ffota6qqtu44c3dwa1dd/listen.png?rlkey=12pvj336nttvuuy2ikjusoc5v&dl=0", "url": "https://dl.dropbox.com/s/6l7d02w316bsr3q/playidtv-radio.w3u?dl=0"},]}

<html>
	<head>
		<script>
			window.location.replace("https://playidtv24.vercel.app/");
		</script>
	</head>
</html>
